.char_mask {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.char_inner {
  display: inline-block;
  white-space: pre;
  will-change: transform, opacity, filter;
}
